
$body_bg : #f8f8f8;
$container_bg : #FFF;
$light_grey: #f0f0f0;

$logo_color: #D66F31;
$theme_color: #ED9B42;

$button_color: #0D78A0;
$button_color_light: #4392B0;
$button_color_dark: #09526D;

/*$button_color: #67217F;
$button_color_light: #E28FFF;*/

$product_name: #eb411a;
$review_color: #F7C638;

$product_discounted_price: #ff1e00;
$discounted_price_light: #FF614C;

$warning_yellow: #F7C638;
$success: #48A14D;
$success_light: #4EAE53;

//$main_font : Corbel, sans-serif;
$main_font : 'Muli', sans-serif;
$secondary_font: 'Montserrat', sans-serif;
$price_font: Century Gothic;