@import "variables/variables";
@import "mixins/mixins";

.next-button{
	width: 100%;

	color: #FFF;
	font-size: 12px;
	background-color: $button_color_light;
	border: 1px solid $button_color;
	span{
		margin-left: 6px;
	}
	transition: all .2s ease-in-out;
}
.next-button:hover{
	background-color: $button_color_light;
	color: #FFF;
	box-shadow: -3px 0px 20px $theme_color;
}

.main-container{
	position: relative;

	font-family: $secondary_font;
	.row{
		position: relative;
		margin-top: 20px;
	}
	.progress-row{

		.progress{
			position: relative;
			height: 14px;
			margin: 8px 0px;

			z-index: 2;
			.progress-bar{
				width: 0px;
				background-color: $button_color;
			}
		}
		.col-xs-1{
			padding: 0px;
		}
		.col-xs-2{
			padding: 0px;
		}
		.rounded-icon{
			position: relative;
			display: inline-block;
			width: 30px;
			height: 30px;
			line-height: 30px;

			background-color: #FFF;
			border: 1px solid #777;
			border-radius: 50%;
			color: #777;
			cursor: pointer;

			z-index: 3;
			transition: all .4s ease-in-out;
		}
		.rounded-icon:hover{
			color: #FFF;
			background: #777;
		}
		.active-icon{
			color: $button_color;
			border-color: $button_color;
		}
		.active-icon:hover{
			color: #FFF;
			background: $button_color_light;
		}
	}
	ul[data-list="nested"]{
		.list-header{
			padding: 10px;
			margin-top: 7px;

			border-radius: 4px;
			border-bottom: 1px solid $light_grey;

			cursor: pointer;
			transition: background .3s ease-in-out;
			span:first-child{
				top: 2px;
				margin-right: 2px;
			}
		}
		.list-active-incomplete{
			border: 1px solid $product_discounted_price;
			background: $discounted_price_light;
			color:#FFF;
		}
		.list-active-completed{
			border: 1px solid $success;
			background: $success_light;
			color: #FFF;
		}
		.list-active-untouched{
			border: 1px solid #ddd;
			background: #f5f5f5;
			color:#000;
		}
		.nested-list{
			position: relative;
			padding-left: 25px;
			max-height: 0px;
			margin-top: 0px;

			font-size: 12px;

			opacity: 0.25;
			overflow: hidden;
			li{
				margin-top: 7px;
				padding-left:1px;
				max-height: 70px;
				.form-control{
					font-size: 12px;
				}
			}
		}

		.sliding-line{
			position: absolute;
			width:1px;
			height: 56px;

			background: $button_color;
			-webkit-box-shadow: 0px 2px 35px 0px $logo_color;
			-moz-box-shadow: 0px 2px 35px 0px $logo_color;
			box-shadow: 0px 2px 35px 0px $logo_color;
			opacity: 0.5;
		}
	}
}
.panel-body{
	font-size: 12px;

	overflow-y: auto;
	hr{
		margin: 10px auto;
	}
	.row{
		max-height: 72px;
		margin: 5px -15px;
		min-width: 500px;
	}
	.remove-item{
		position: relative;
		height: 16px;
		margin-top: calc((100% - 16px) / 2);

		margin: 28px auto;
		cursor: pointer;
	}
	.cart-img{
		max-width: 72px;
		max-height: 72px;
		padding: 0px;
	}
	.cart-name{
		padding: 5px 15px;
		max-height: 50px;
		line-height: 25px;

		word-wrap: break-word;

		overflow: hidden;

	}
}
.summary-container{
	position: fixed;
	left: -2.5%;
	max-height: calc(100% - 82px);//82 = 72(navbar's height) + 2*5px (additional top and bottom space)

	overflow-y: auto;
	z-index: 10;
}
.cart-summary{

	ol{
		padding-left: 15px;
		margin-bottom: 5px;
		line-height: 26px;
	}
	.active{
		color: $discounted_price_light;
		
	}
}
@media screen and(max-width: 768px){
	.next-button{
		margin-top: 20px;
	}
	.summary-container{
		position: static;
		max-height: auto;
	}
}