/*$button_color: #67217F;
$button_color_light: #E28FFF;*/
@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?2t9e7f");
  src: url("fonts/icomoon.eot?2t9e7f#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?2t9e7f") format("truetype"), url("fonts/icomoon.woff?2t9e7f") format("woff"), url("fonts/icomoon.svg?2t9e7f#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 14, ../../sass/general/general.scss */
body, html {
  width: 100%;
  height: 100%;
}

/* line 19, ../../sass/general/general.scss */
body {
  background: #f8f8f8;
}

/* line 23, ../../sass/general/general.scss */
.btn:active, .btn:focus {
  outline: none !important;
}

/* line 27, ../../sass/general/general.scss */
.product-image {
  display: inline-block;
  width: 72px;
  max-height: 72px;
  margin-right: 0px;
  overflow-y: hidden;
}

/*scrollbar style */
/* line 38, ../../sass/general/general.scss */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #f0f0f0;
  border-radius: 4px;
}

/* line 44, ../../sass/general/general.scss */
::-webkit-scrollbar-button {
  display: none;
}

/* line 47, ../../sass/general/general.scss */
::-webkit-scrollbar-corner {
  display: none;
}

/* line 50, ../../sass/general/general.scss */
::-webkit-scrollbar-track {
  width: 10px;
  background: #f0f0f0;
  border-radius: 4px;
}

/* the new scrollbar will have a flat appearance with the set background color */
/* line 56, ../../sass/general/general.scss */
::-webkit-scrollbar-thumb {
  background-color: #666;
  border: 1px solid #f8f8f8;
  border-radius: 4px;
  opacity: 0.25;
}

/* this will style the thumb, ignoring the track */
/* line 65, ../../sass/general/general.scss */
.notification-panel {
  position: fixed;
  right: calc(2.5% + 15px);
  top: 72px;
  height: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #FFF;
  opacity: 0.4;
  overflow: hidden;
  transition: all .3s ease-in-out;
  z-index: 1029;
}
/* line 85, ../../sass/general/general.scss */
.notification-panel .notification-image {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border-right: 1px solid #ccc;
}
/* line 92, ../../sass/general/general.scss */
.notification-panel .notification-image img {
  border-radius: 4px;
  height: 100%;
  width: 100%;
}
/* line 99, ../../sass/general/general.scss */
.notification-panel .text {
  display: inline-block !important;
  vertical-align: top;
  padding: 5px;
}
/* line 103, ../../sass/general/general.scss */
.notification-panel .text p {
  position: relative;
  max-width: 200px;
  margin-bottom: 5px;
}
/* line 108, ../../sass/general/general.scss */
.notification-panel .text p:first-child {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 116, ../../sass/general/general.scss */
.notification-panel.visible {
  top: 77px;
  height: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  opacity: 1;
}

/*footer styling*/
/* line 125, ../../sass/general/general.scss */
.footer {
  position: absolute !important;
  width: 100%;
  top: 100%;
  padding: 15px 15px 70px 15px;
  font-size: 12px;
  color: #fff !important;
  background: #09526D;
}
/* line 135, ../../sass/general/general.scss */
.footer a, .footer a:link, .footer a:visited, .footer a:hover, .footer a:active {
  color: #fff;
}
/* line 139, ../../sass/general/general.scss */
.footer .row {
  margin: 0px;
  margin-top: 8px !important;
}
/* line 143, ../../sass/general/general.scss */
.footer .row:first-child {
  margin-top: 0px;
}

/* line 147, ../../sass/general/general.scss */
.footer.no-cart {
  padding-bottom: 25px;
}

/*background colors */
/* line 152, ../../sass/general/general.scss */
.bad {
  background: #ff1e00;
}

/* line 155, ../../sass/general/general.scss */
.weak {
  background: #ED9B42;
}

/* line 158, ../../sass/general/general.scss */
.ok {
  background: #F7C638;
}

/* line 161, ../../sass/general/general.scss */
.success {
  background: #48A14D;
}

/* text colors */
/* line 166, ../../sass/general/general.scss */
.text-bad {
  color: #ff1e00;
}

/* line 169, ../../sass/general/general.scss */
.text-weak {
  color: #ED9B42;
}

/* line 172, ../../sass/general/general.scss */
.text-ok {
  color: #F7C638;
}

/* line 175, ../../sass/general/general.scss */
.text-success {
  color: #48A14D;
}

/* line 179, ../../sass/general/general.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 194, ../../sass/general/general.scss */
.icon-external-hdd:before {
  content: "\e900";
}

/* line 197, ../../sass/general/general.scss */
.icon-universal-serial-bus-flash-drive:before {
  content: "\e901";
}

/* line 200, ../../sass/general/general.scss */
.icon-motherboard:before {
  content: "\e902";
}

/* line 203, ../../sass/general/general.scss */
.icon-mouse:before {
  content: "\e903";
}

/* line 206, ../../sass/general/general.scss */
.icon-speaker:before {
  content: "\e904";
}

/* line 209, ../../sass/general/general.scss */
.icon-ram:before {
  content: "\e905";
}

/* line 212, ../../sass/general/general.scss */
.icon-graphics-card:before {
  content: "\e906";
}

/* line 215, ../../sass/general/general.scss */
.icon-computer-cpu:before {
  content: "\e907";
}

/* line 218, ../../sass/general/general.scss */
.icon-hdd-card:before {
  content: "\e908";
}

/* line 221, ../../sass/general/general.scss */
.icon-ssd-storage:before {
  content: "\e909";
}

/* line 224, ../../sass/general/general.scss */
.icon-battery-charger:before {
  content: "\e90a";
}

/* line 227, ../../sass/general/general.scss */
.icon-headphones:before {
  content: "\e910";
}

/* line 230, ../../sass/general/general.scss */
.icon-keyboard:before {
  content: "\e955";
}

/* line 233, ../../sass/general/general.scss */
.icon-display:before {
  content: "\e956";
}

/* line 236, ../../sass/general/general.scss */
.icon-laptop:before {
  content: "\e957";
}

/* line 239, ../../sass/general/general.scss */
.icon-mobile:before {
  content: "\e958";
}

/* line 242, ../../sass/general/general.scss */
.icon-tablet:before {
  content: "\e95a";
}

/* line 1, ../../sass/general/admin-general.scss */
.add-button {
  position: relative;
  margin-bottom: 20px;
  background: #0D78A0;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(0deg, #0D78A0, #4392B0);
  /* For Safari 5.1 to 6.0deg */
  background: -o-linear-gradient(0deg, #0D78A0, #4392B0);
  /* For Opera 11.1 to 12.0deg */
  background: -moz-linear-gradient(0deg, #0D78A0, #4392B0);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, #0D78A0, #4392B0);
  /* Standard syntax */
  z-index: 12;
}
/* line 6, ../../sass/general/admin-general.scss */
.add-button span {
  margin-right: 6px;
}

/* line 11, ../../sass/general/admin-general.scss */
.warnings {
  position: fixed;
  max-height: 0px;
  top: 5px;
  right: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  overflow: hidden;
  opacity: 0;
  z-index: 1051;
}

/* line 24, ../../sass/general/admin-general.scss */
.infoMessages {
  position: fixed;
  right: 5px;
  top: 5px;
  max-width: 250px;
  min-width: 43px;
  max-height: 0px;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  overflow: hidden;
  opacity: 0.25;
  z-index: 1051;
}
/* line 39, ../../sass/general/admin-general.scss */
.infoMessages .col-xs-10 .row {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px auto;
}
/* line 45, ../../sass/general/admin-general.scss */
.infoMessages .col-xs-10 .row .col-xs-12 {
  padding: 0px;
}
/* line 49, ../../sass/general/admin-general.scss */
.infoMessages .col-xs-2 {
  position: relative;
  height: 18px;
  padding-right: 0px;
  margin-top: 17px;
}

/* line 6, ../../sass/general/admin-products.scss */
#deleteConfirmation {
  font-family: "Montserrat", sans-serif;
}

/* line 11, ../../sass/general/admin-products.scss */
.content-display h3 {
  padding-left: 10px;
  border-left: 2px solid #ED9B42;
  font-family: "Muli", sans-serif;
}
/* line 16, ../../sass/general/admin-products.scss */
.content-display hr {
  border-top: 1px solid #ED9B42;
}
/* line 19, ../../sass/general/admin-products.scss */
.content-display .form-control {
  margin-bottom: 20px;
}
/* line 22, ../../sass/general/admin-products.scss */
.content-display th {
  cursor: pointer;
}
/* line 25, ../../sass/general/admin-products.scss */
.content-display td {
  overflow: auto;
}
/* line 28, ../../sass/general/admin-products.scss */
.content-display tr {
  position: relative;
}
/* line 30, ../../sass/general/admin-products.scss */
.content-display tr .productSettings {
  position: absolute;
  margin-top: 26px;
  left: 16px;
  background: transparent !important;
  border: 0px !important;
  opacity: 0.25;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
  z-index: 11;
}
/* line 46, ../../sass/general/admin-products.scss */
.content-display tr .productSettings .dropdown-menu {
  position: static !important;
  float: none !important;
  transition: all .2s ease-in-out;
}
/* line 53, ../../sass/general/admin-products.scss */
.content-display tr .productSettings:hover {
  opacity: 1;
}
/* line 58, ../../sass/general/admin-products.scss */
.content-display .discounted-price, .content-display .quantity, .content-display .initial-price {
  text-align: center;
  text-align: -webkit- center;
}
/* line 62, ../../sass/general/admin-products.scss */
.content-display .product-row.ng-move, .content-display .product-row.ng-enter {
  opacity: 0.2;
  transition: all .3s ease-in-out;
}
/* line 66, ../../sass/general/admin-products.scss */
.content-display .product-row.ng-leave {
  opacity: 1;
  transition: all .3s ease-in-out;
}
/* line 70, ../../sass/general/admin-products.scss */
.content-display .product-row.ng-move.ng-move-active,
.content-display .product-row.ng-enter.ng-enter-active {
  opacity: 1;
}
/* line 74, ../../sass/general/admin-products.scss */
.content-display .product-row.ng-leave.ng-leave-active {
  opacity: 0;
}

/* line 79, ../../sass/general/admin-products.scss */
.modal-dialog .alert {
  display: none;
}
/* line 82, ../../sass/general/admin-products.scss */
.modal-dialog .image-picker {
  position: relative;
  display: inline-block;
  max-width: 200px;
  max-height: 200px;
  width: 200px !important;
  height: 200px;
  border: 2px dashed #0D78A0;
}
/* line 91, ../../sass/general/admin-products.scss */
.modal-dialog .image-picker span {
  position: absolute;
  padding: 8px;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
  color: #FFF;
  background: #0D78A0;
  border: 1px solid #0D78A0;
  border-radius: 4px;
  text-align: center;
  text-align: -webkit- center;
  transition: all .4s ease-in-out;
  cursor: pointer;
  z-index: 10;
}
/* line 107, ../../sass/general/admin-products.scss */
.modal-dialog .image-picker span:hover {
  background: #4392B0;
}
/* line 110, ../../sass/general/admin-products.scss */
.modal-dialog .image-picker img {
  position: relative;
  margin: auto;
  max-width: 196px;
  max-height: 196px;
}
/* line 116, ../../sass/general/admin-products.scss */
.modal-dialog .image-picker .close {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}
/* line 125, ../../sass/general/admin-products.scss */
.modal-dialog .form-group:last-child {
  margin-bottom: 0px;
}
/* line 128, ../../sass/general/admin-products.scss */
.modal-dialog .help-block {
  max-height: 0px;
  margin: 0px;
  overflow: hidden;
}

/* line 134, ../../sass/general/admin-products.scss */
#modal {
  font-family: "Muli", sans-serif;
}
